.createdPolls{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
}
.createdPolls .content{
    padding: 0 10%;
}
.poll{
    display: flex;
    margin: 5px;
    padding: 5px;
    background-color: #1b3a4b;
    flex-direction: column;
    justify-content: space-between;
    width: 250px;
}
.poll h3{
    word-break: break-all;
    text-transform: uppercase;
}
.poll .horizontalSeparator{
    height: 1px;
    width: 100%;
    background-color: white;
}
.poll form{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.poll form .opt label{
    font-size: 18px;
}
.poll button{
    width: 100%;
}
.createdPolls .content{
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
}
.resultsDiv{
    /* height: 100px; */
    background-color: #006466;
}

@media only screen and (max-width: 600px) {
    .poll{
        min-width: 100%;
    }
    .createdPolls .content{
        padding: 0 20px;
    }
}

