.createdPolls{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
}
.poll{
    display: flex;
    margin: 5px;
    width: 200px;
    background-color: violet;
    flex-direction: column;
    justify-content: space-between;
}
.poll form{
    display: flex;
    flex-direction: column;
}
.createdPolls .content{
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
}

.resultsDiv{
    /* height: 100px; */
    background-color: lightseagreen;
}
