*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
h1{
    text-align: center;
}
.userInteraction{
    background-color: #b698ff;;
    display: flex;
    align-items: flex-start;
    width: 100%;
}
.newUser,.idCheck, .createPoll, .loginBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}
button{
    max-width: 100px;
}
