*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quantico', sans-serif;
    color: white;
}
body{
    background-color: #272640;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
h1{
    text-align: center;
}
button{
    border: 0;
    padding: 0;
    cursor: pointer;
    background-color: #5a189a;
    border-bottom: 2px white dotted;
    margin-bottom: 5px;
    padding: 10px 0;
    font-size: 18px;
  }
button:disabled, button[disabled]{
    background-color: #59189a65;
    color: rgba(255, 255, 255, 0.344);
    border: none
  }
input{
    font-size: 18px;
    border: 0;
    padding: 0;
    color: #272640;
  }
input[type="text"]{
    padding-left: 10px;
  }
#title{
    font-size: clamp(1.7rem, -0.875rem + 8.333vw, 3.5rem);
    width: 100%;
    text-align: center;
}
.shiaDoIt{
    position: fixed;
    transform: rotateY(180deg);
    
    top: 20vh;
    left: 0px;
    z-index: -100;
}
.shiaDoIt img{
    opacity: 0.5;
}
.userInteraction{
    background-color: #272640;
    box-shadow: 0px 20px 20px #100a18;
    display: flex;
    align-items: flex-start;
    width: 100%;
    padding: 3vw 0;
    justify-content: center;
    margin-bottom: 25px;
}
.newUser,.idCheck, .createPoll, .loginBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 5%;
}
.newUser button,.idCheck button, .createPoll button, .loginBox button{
    margin-top: 5px;
    width: 100%;
}
button:hover{
    background-color: teal;
    color: white;
}
button:disabled:hover{
    background-color: #59189a65;
    color: rgba(255, 255, 255, 0.344);
    border: none
}
.inputBlock, .pollOpt{
    width: 100%;
}
.newUser input,.idCheck input, .createPoll input, .loginBox input{
    width: 100%;
}
.credits{
    display: flex;
}
.credits a{
    text-transform: uppercase;
    margin-left: 5px;
}
@media only screen and (max-width: 1330px) {
    .shiaDoIt{ 
        left: -60px;
    }
}
@media only screen and (max-width: 1000px) {
    .shiaDoIt{ 
        display: none;
        left: -30px;
    }
}
@media only screen and (max-width: 600px) {
    .userInteraction{
        box-shadow: 0px 20px 20px #100a18;
        flex-direction: column;
        align-items: stretch;
        justify-content: center;
        margin-bottom: 25px;
    }
}
